.App{
    text-align: center;
    margin-top: 200px;
    font-size: 18px;
}

li{
    list-style: none;
    padding: 10px 20px;
    background-color: rgb(225, 225, 225);
    margin: 10px 0px;
  
}

input{
    padding: 10px 20px;
    margin-top: 30px;
}

button{
    padding: 10px 20px;
    margin: 10px;
}
ul{
    margin: 10px 0px;
    padding: 10px 0px;
}